body{
  background-color: #e9e9e9;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.link {
  font-size:25px;
  color: black;
}
.link:hover{
  color: red;
}
.tekst{
  font-family: Arial, Helvetica, sans-serif;
}
#naslov{
  font-size: 25px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
  background-color: #333;
  padding-top: 5px;
  padding-bottom: 5px;
  color: white;
  margin-bottom: 70px;
}
#futer{
  font-size: 17px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
  background-color: #333;
  padding-top: 5px;
  padding-bottom: 5px;
  color: white;
  margin-top: auto;
  }
.naslov_3{
  font-family: Verdana, Tahoma, sans-serif;
  }
.div1{
  background-color: #fff;
  margin: 50px 150px;
  line-height: 1.4;
  padding: 50px;
}
#slika1{
  width: 250px;
  height: 190px;
}
.slika2{
  border-radius: 12px;
  width: 640px;
  height: 480px;
}
form{
  margin-bottom: 38px;
}